article {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;

  header {
    text-align: center;
    margin-bottom: 2.5rem;

    img {
      width: 8rem;
      margin-bottom: 1rem;
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    .author {
      font-style: italic;
    }
  }

  pre code {
    background-color: inherit;
  }

  pre {
    border-radius: 3px;
    border: 1px solid #eee;
  }
}

@media (min-width: 30rem) {
  article header img {
    width: 14rem;
  }
}