<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="0; url=https://alabor.me/2017/07/05/pattern-matching-with-typescript.html">
  <link rel="canonical" href="https://alabor.me/2017/07/05/pattern-matching-with-typescript.html" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <article>
    <header>
      <img src="assets/title.png" alt="{{ site.title }}" />
      <h1>{{ site.articleTitle }}</h1>
      <span class="author">by <a href="https://alabor.me" rel="author" title="Author">Manuel Alabor</a></span>
    </header>
    {{ content }}
  </article>
{% include scripts.html %}
</body>
</html>
